*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    z-index: inherit;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
textarea { 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body{
    margin: 80px 0px 0px 0px;
    z-index: -100000;
}
/* adjust scrollbar */
::-webkit-scrollbar-track{
    position: absolute;
    background: #2e3338;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #202225;
    border-radius: 5px;
}