.row {
    display: flex;
    flex-wrap: wrap;
}

.category {
    width: 1200px;
    padding: 100px 0 0;
    margin: 0 auto;
}

.category-top {
    margin-bottom: 50px;
}

.category-top p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 12px;
    font-size: 12px;
}

.category-left {
    width: 20%;
}
.category-right  {
    width: 80%;
}

.category-top-item:first-child {
    flex: 2;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.category-top-item {
    flex: 1;
    padding: 0 12px;
}

.category-top-item button {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px  solid black;
    cursor: pointer;
}

.category-top-item select {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px  solid black;
    cursor: pointer;
}

.category-right-content {
    margin-top: 20px;
    justify-content: space-between;
}

.category-right-content-item {
    width: calc(23% - 12px);
    text-align: center;
    padding: 12px 0;
}

.category-right-content-item h1 {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
    color: #333333;
}

.category-right-content-item img {
    width: 100%;
}

.category-right-content-item p {
    font-size: 12px;
}

.category-right-bottom {
    justify-content: space-between;
    margin: 30px 0 20px;
    width: 100%;
}


.category-right-bottom p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.category-left ul li {
    padding: 12px 0;
    cursor: pointer;
}

.category-left ul li >a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.category-left-li > a:hover {
    text-decoration: underline;
    color: red;
}

.category-left ul li ul li {
    padding-left: 30px;
}

.category-left ul li ul li a {
    color: red;
    font-weight: 400;
    font-size: 180px;
}

.category-right-content-item p {
    color: red;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}

.category-right-content-item h1 {
    font-size: 13px;
    color: #333;
    font-weight: bold;
}

.category-right-content-item h1:hover {
    color: green;
}

.category-left ul li ul li :hover {
    color: gold;
}

.category-left-li ul {
    display: none;
}

.category-left-li.block ul {
    display: block;
}

.category-left-li.block ul a {
    color: #333333;
    font-size: 12px;
    text-transform: uppercase;
}


/* reponsive */

@media only screen and (min-width: 740px) and (max-width: 1024px){
    .rps_Search_Box{
        width: 80%;
        margin: 0 14%;
    }
    /* ------------------ Chia content -------------------- */
    .content_container{
        top: 50%;
    }
    .content_hot {
        top: 0;
    }
    .content_category{
        top: 35%;
        height: auto;
    }
    .content_brand{
        top: 85%;
        height: 50vh;
    }
    .content_position{
        top: 135%;
        position: relative;
        height: 80vh;
    }
    /* ------------------------------------------------ */
    .product_item {
        flex: 0 0 calc(25% - 1rem);
        gap: 30px;
    }
    .product_images{
        overflow: hidden;
    }
    .arrow_content {
        top: 45%;
    }
    .category_images{
        display: flex;
        overflow: hidden;
        position: absolute;
        height: min-content;
    }
    .category_item {
        width: 90vw;
        margin-top: 5%;
        flex-direction: row;
    }
    .content_hover {
        flex: 0 0 50%;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .product_name p {
        display: none;
    }
    .brand_images {
        width: 90vw;
        overflow: hidden;
        height: min-content;
    }
    .brand_item {
        width: 100%;
        height: min-content;
    }
    .brand_item .content_hover {
        flex: 0 0 100%;
        height: 100%;
        width: 100%;
        margin-bottom: 0;
    }
    .footer {
        bottom: 0%;
        width: 100%;
        height: 30%;
    }
}